
# Build system
/volt
/volt.*
/viv
/viv.*
/viviv
/viviv.*
/LLVM.*
build.bat
.obj
.pkg
*.tar.gz

# Temporary files produced by the compiler
*.obj
*.ll
*.bc
*.o
*.a
a.out*
a.exe*

# Misc files
b.bat

# IDE files
*.kdev*
*.gdb_history
