
# Build system
/volt
/volt.*
/volta
/volta.*
/viv
/viv.*
/viviv
/viviv.*
/LLVM.*
/vls/vls
/vls/vls.exe
build.bat
.obj
.pkg
*.tar.gz

# Temporary files produced by the compiler
*.obj
*.ll
*.bc
*.o
*.a
a.out*
a.exe*

# Misc files
b.bat
.DS_Store

# IDE files
*.kdev*
*.gdb_history

# VLS Cruft
**/node_modules
**/vls/out
